version: '3.1'
services:
  frontend:
    container_name: frontend
    build:
      context: ./
    ports:
      - "5173:5173"
    volumes:
       - .:/usr/src/app
    command:
       sh -c "npm run dev"
